@import '../base/variables.scss';

.franchisees {
  align-self: flex-end;
  width: 208px;
  height: 283px;
  position: relative;
  top: 20px;
  background: url('../images/franchisees-group.svg') center center/contain no-repeat;
  display: flex;
  flex-direction: column;
  &__content {
    margin: 60px auto 0;
    padding-right: 50px;
    transform: matrix(1, -0.24, 0, 0.97, 0, 0);
    color: #000;
    text-align: right;
  }
  &__title {
    max-width: 110px;
    margin: 0;
    font-size: 10px;
    line-height: 1.1;
  }
  &__title-accent {
    font-size: 36px;
  }
  &__subtitle {
    max-width: 110px;
    margin: 0;
    font-size: 10px;
    line-height: 1.1;
    color: $main-color;
  }
  &__logo {
    width: 72px;
    display: block;
    margin: 30px auto 0;
  }
}

@media screen and (max-width: 950px) {
  .franchisees {
    display: none;
  }
}
