@import '../base/variables.scss';

.hamburger {
  display: none;
}

@media screen and (max-width: 1155px) {
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 3px solid $main-color;
    border-radius: 100%;
    box-sizing: border-box;
    cursor: pointer;
    &__line {
      display: block;
      margin-bottom: 5px;
      width: 21px;
      height: 2px;
      background-color: #fff;
      transition: .6s all;
      &:last-of-type {
        margin: 0;
      }
    }
    &_active .hamburger__line {
      &:first-of-type {
        margin: 0;
        top: 0;
        transform: translateY(1px) rotate(45deg);
      }
      &:nth-child(2) {
        display: none;
      }
      &:last-of-type {
        bottom: 0;
        transform: translateY(-1px) rotate(-45deg);
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .hamburger {
    margin-top: -5px;
  }
}
