.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  &__logo {
    width: 165px;
    transition: .2s linear;
    &:hover {
      opacity: .8;
    }
  }
  &__navigation {
    margin-left: 20px;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }
  &__list-item {
    margin-right: 18px;
    &:last-of-type {
      margin: 0;
    }
  }
  &__link {
    font-size: 18px;
    line-height: 1.2;
    color: #fff;
    text-decoration: none;
    transition: .2s linear;
    &:hover {
      color: $main-color;
    }
  }
  &__contacts {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }
  &__number {
    font-size: 24px;
    line-height: 1.2;
    color: #fff;
    text-decoration: none;
    transition: .2s linear;
    &:hover {
      color: $main-color;
    }
  }
  &__call-link {
    font-size: 10px;
    line-height: 1.4;
    color: #fff;
    text-decoration: none;
    transition: .2s linear;
    &:hover {
      color: $main-color;
    }
  }
  &__divider {
    width: 103px;
    height: 1px;
    background-color: $main-color;
  }
  &__location {
    margin-left: 20px;
    display: grid;
    grid-template-columns: 30px 70px;
  }
  &__location-icon {
    width: 23px;
  }
  &__location-text {
    margin: 0;
    font-size: 12px;
    line-height: 1.2;
    color: $main-color;
    cursor: pointer;
    transition: .2s linear;
    &:hover {
      opacity: .9;
    }
  }
  &__city {
    margin: 0;
    font-size: 18px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 1155px) {
  .header {
    justify-content: flex-end;
    &__logo-link {
      order: 1;
      margin-right: auto;
    }
    &__navigation {
      margin-left: 20px;
      order: 4;
    }
    &__contacts {
      order: 2;
    }
    &__location {
      order: 3;
    }
    &__list {
      position: fixed;
      top: 0;
      left: -100%;
      width: 25%;
      height: 100vh;
      padding: 20px 15px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, .8);
      transition: .8s ease;
    }
    &__list_active {
      left: 0;
      z-index: 1;
      padding: 0;
    }
    &__list-item {
      font-size: 20px;
      margin: 0 auto 20px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    &__logo {
      width: 188px;
    }
    &__divider {
      width: 112px;
    }
    &__list {
      width: 40%;
    }
    &__location {
      grid-template-columns: 30px 115px;
    }
    &__location-text {
      font-size: 11px;
    }
  }
}

@media screen and (max-width: 630px) {
  .header {
    &__logo {
      margin: 0;
      width: 100px;
    }
    &__contacts {
      margin-left: 10px;
      text-align: center;
    }
    &__location {
      grid-template-columns: 30px 85px;
    }
    &__location-text {
      font-size: 8px;
    }
    &__city {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 500px) {
  .header {
    justify-content: center;
    flex-wrap: wrap;
    &__logo {
      width: 86px;
    }
    &__location {
      margin-left: 10px;
    }
    &__contacts {
      order: 5;
      margin: 10px 30px 0;
      align-items: center;
    }
    &__list {
      width: 50%;
    }
  }
}
