.page {
  font-family: 'Rex', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  min-width: 320px;
  min-height: 600px;
  box-sizing: border-box;
  background: url('../images/main-bg.jpg') 20% 0%/cover no-repeat #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  &::before {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .45);
    z-index: -1;
  }
  &__header {
    margin: 60px 65px 0 52px;
  }
  &__content {
    margin: 0 160px 0 52px;
  }
  &__lead {
    margin-top: 20px;
  }
  &__main-form {
    margin-bottom: 78px;
  }
}

@media screen and (max-width: 1155px) {
  .page__content {
    margin-right: 80px;
  }
}

@media screen and (max-width: 767px) {
  .page {
    &__header{
      margin: 52px 35px 0 40px;
    }
    &__content {
      margin: 0 35px 0 40px;
    }
    &__main-form {
      margin-bottom: 129px;
    }
  }
}

@media screen and (max-width: 670px) {
  .page {
    &__header{
      margin: 40px 20px 0;
    }
    &__content {
      margin: 0 20px;
    }
    &__main-form {
      margin-bottom: 60px;
    }
    &__lead {
      margin-top: 25px;
    }
  }
}

@media screen and (max-width: 575px) {
  .page {
    padding-bottom: 95px;
    background-position: 30% 0%;
    &__header{
      margin-top: 25px;
    }
    &__lead {
      margin-top: 35px;
    }
    &__main-form {
      margin: 45px auto 0;
    }
  }
}
