.page {
  font-family: 'Rex', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #fff;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  min-width: 320px;
  min-height: 600px;
  box-sizing: border-box;
  background: url('../../images/main-bg.jpg') center center/cover no-repeat #fff;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .45);
    z-index: -1;
  }
  &__header {
    margin: 60px 65px 52px 0;
  }
}
